@{ViewData["Title"] = "About";
    ViewData["activeView"] = "About"; }
<div class="container text-center p-4" style="color:black">
    <h1>Naš moto</h1>
    <p>Ističemo se kvalitetom i garancijom na izvedene usluge.</p>
    <h1>Informacije</h1>
    <a>Za više informacija, kontaktirajte nas na Email - email@gmail.com</a><br />
    <a>Phone Number - 098 1234 567</a><br />
    <a>Adress - Zagreb</a><br /><br />
</div>