@model JobTypeViewModel
@{ViewData["Title"] = "Services";
    ViewData["activeView"] = "Services"; }
@*<div class="container col-10">
        <div class="container text-center">
            <h1 style="font-size:80px">Usluge</h1>
        </div>
    </div>*@
@*@if (User.IsInRole("Administrator"))
    {*@
<div class="container text-center p-4">
    <a class="btn btn-success" asp-controller="Admin" asp-action="CreateJobType">Kreiraj novu vrstu posla</a>
</div>
@*}*@
<div class="contatiner text-center">
    Cijene su okvirne i mogu se mjenjati u odnosu na konkretnu situaciju.
</div>

<div class="container col-12 col-sm-12 col-md-8 col-lg-6 p-4 text-center">
    <table class="table table-bordered">
        <tr>
            <th>Vrsta posla</th>
            <th>Cijena po mjernoj jedinici</th>
            <th class="col-4">Akcija</th>
        </tr>
        <tr>
            <td>Betoniranje</td>
            <td>250 kn</td>
            <td>
                <a class="btn btn-primary">Uredi</a>
                <a class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
        <tr>
            <td>Krovopokrivanje</td>
            <td>400 kn</td>
            <td>
                <a class="btn btn-primary">Uredi</a>
                <a class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
        <tr>
            <td>Vodoinstaliranje</td>
            <td>150 kn</td>
            <td>
                <a class="btn btn-primary">Uredi</a>
                <a class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
        <tr>
            <td>Žbukanje</td>
            <td>350 kn</td>
            <td>
                <a class="btn btn-primary">Uredi</a>
                <a class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
        <tr>
            <td>Zidanje</td>
            <td>20 kn</td>
            <td>
                <a class="btn btn-primary">Uredi</a>
                <a class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
        
    </table>
</div>
<script>
    function deleteJobType(id) {
        if (confirm("Jeste li sigurni da želite izbrisati vrstu posla?")) {
            var data = {
                id: id
            };
            $.ajax({
                type: 'POST',
                url: "/Admin/DeleteJobType",
                data: data,
                success: function (result) {
                    alert("Vrsta posla uspješno izbrisana!");
                    $("#JobId-" + id).remove();
                },
                error: function () {
                    alert("Vrsta posla ne postoji.");
                }
            });
        }
    }
</script>